<nav style="background-color: #c4170c;">
  <div class="nav-wrapper" style="align-items: center;">
    <div class="container">
      <a href="#" class="brand-logo"
        ><img
          src="https://s.glbimg.com/jo/g1/static/live/imagens/img_facebook.png"
          width="90"
          height="50"
      /></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Login</a></li>
        <li><a href="badges.html">Sobre</a></li>
      </ul>
    </div>
  </div>
</nav>
